.content
    display: flex
    flex-direction: column
    +screen(xl)
        flex-direction: row
    &__img-wrapper
        margin-left: -16px
        margin-right: -16px
        overflow: hidden;
        position: relative;
        width: 111%;
        padding-bottom: 111%;
        +screen(md)
            width: 110%
            padding-bottom: 50%;
            margin-left: -24px
            margin-right: -24px
        +screen(xl)
            margin-left: 0px
            margin-right: 0px
            width: auto
            height: auto
            padding-bottom: 0
            overflow: visible
    &__img
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover
        +screen(xl)
            position: relative;
            height: auto;
    &__info
        margin-top: 81px
        margin-bottom: 40px
        +screen(md)
            order: -1
        +screen(xl)
            position: relative
            display: flex
            flex-direction: column
            justify-content: space-between
            margin: 0px
            padding: 110px 0 32px
    &__title
        margin-top: 0
        margin-bottom: 1rem
        font-weight: normal
        font-size: 2rem
        line-height: 1
        +screen(md)
            font-size: 3rem
    &__text
        margin-top: 0
        margin-bottom: 2rem
        +screen(md)
            font-size: .75rem
        +screen(xl)
            font-size: 1rem
    &__button
        margin-bottom: 0
        font-weight: bold
        background: rgba(var(--c-brand), 1)
        border-radius: 0px
        +screen(md)
            width: 224px  
